nav {
  padding-bottom: 20px;
}

#navigation {
  position: relative;
  float: left
}

#authentication {
  position: relative;
  float: right
}

#new_blog {
  position: absolute;
  float: right;
}

#new_blog_title {
  display: inline;
  position: relative;
  padding: 20px 0px;
}

#new_blog_body {
  display: inline;
  position: relative;
  padding: 20px 0px;
}

footer {
  color: black;
  position: fixed;
  width: 100%;
  background-color:white;
}

