#navigation {
  position: relative;
  float: left
}

#authentication {
  position: relative;
  float: right
}

#new_blog {
  background-color: black;
  position: relative;
  float: right;
}

footer {
  z-index: 10;
  color: white;
  position: fixed;
  width: 100%;
  background-color: black;
}

